# Python
*.py[cd]
__pycache__

# Testing tools
/.tox
/.coverage*
!/.coveragerc

# Packaging
/dist
/build
*.egg-info

# Utility
*.sqlite3
/makemigrations.py
/.idea
/.vscode
/.settings

# Temporary
*~
*.tmp
*.bak
*.swp

.project
.pydevproject
.coverage
.coveragerc

# Example
example/contracts/chain
example/contracts/node_modules
example/contracts/build
example/db.sqlite3
