# Python
*.py[cd]
__pycache__

# Testing tools
/.tox
/.coverage*
!/.coveragerc

# Packaging
/dist
/build
*.egg-info

# Utility
*.sqlite3
/makemigrations.py
/.idea
/.vscode
/.settings

# Temporary
*~
*.tmp
*.bak
*.swp

.project
.pydevproject
django_ethereum_events/urls.py
manage.py